@font-face {
  font-family: CircularStd;
  font-display: swap;
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CircularStd;
  font-display: swap;
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 500;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 5px 0;
}

.header__scroll {
  background: rgba(255, 148, 1, 0.05);
}

.header__main-img-wr {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

input::-webkit-input-placeholder {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input::-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-moz-placeholder {
  opacity: 1;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:-ms-input-placeholder {
  opacity: 1;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-moz-placeholder {
  opacity: 0;
  -moz-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

textarea {
  resize: none;
}

ul,
li {
  padding: 0;
  margin: 0;
}

body,
html {
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: CircularStd;
}

.scrollNone {
  overflow: hidden;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

.content {
  margin: 0 auto;
  max-width: 1215px;
  padding-left: 30px;
  padding-right: 30px;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.modal {
  cursor: pointer;
}

.cart {
  margin-left: 60px;
  margin-right: 60px;
}

.header__main-img {
  width: 150px;
}

.header__logo {
  width: 110px;
}

.btn {
  background: #FF9401;
  border-radius: 31px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #FFFFFF;
  padding: 16px 32px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  -webkit-box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 2px 3px 2px 0px rgba(0, 0, 0, 0.17);
  transition: all ease 0.2s;
  position: relative;
  overflow: hidden;
}

.btn::after {
  content: "";
  width: 30px;
  height: 201px;
  position: absolute;
  left: -20px;
  top: 0;
  margin-top: -20px;
  background: #fff;
  opacity: 0.6;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  -webkit-animation: login-blur 3s infinite;
          animation: login-blur 3s infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-transform-origin: top;
      -ms-transform-origin: top;
          transform-origin: top;
}

@-webkit-keyframes login-blur {
  from {
    -webkit-transform: translate(0) rotate(45deg);
            transform: translate(0) rotate(45deg);
  }

  to {
    -webkit-transform: translateX(370px) rotate(45deg);
            transform: translateX(370px) rotate(45deg);
  }
}

@keyframes login-blur {
  from {
    -webkit-transform: translate(0) rotate(45deg);
            transform: translate(0) rotate(45deg);
  }

  to {
    -webkit-transform: translateX(370px) rotate(45deg);
            transform: translateX(370px) rotate(45deg);
  }
}

.btn:hover {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}

h1,
h1 span {
  white-space: nowrap;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 96px;
}

h1 img {
  width: 50px;
}

.header__burger {
  z-index: 9000;
  position: relative;
  display: block;
  width: 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  height: 40px;
  position: relative;
}

.header__burger:after {
  content: "";
  display: block;
  background: #2E2E2E;
  border-radius: 50px;
  width: 16px;
  height: 3px;
  position: absolute;
  top: 18px;
  right: 0px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__burger:before {
  content: "";
  display: block;
  background: #2E2E2E;
  border-radius: 50px;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 10px;
  right: 0px;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.header__burger span:after {
  content: "";
  display: block;
  background: #2E2E2E;
  border-radius: 50px;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 26px;
  right: 0;
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

footer {
  height: 200vh;
}

.cen {
  text-align: center;
}

.upper {
  text-transform: uppercase;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.di-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.b-block {
  display: block;
}

.di-block {
  display: inline-block;
}

.a-i-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.a-i-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.a-i-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.j-c-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.j-c-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.j-c-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.j-c-space {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-fill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.re {
  position: relative;
}

.cu-po {
  cursor: pointer;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.initial {
  padding-top: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.initial label {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FF9401;
  font-weight: 600;
  font-family: "Gilroy";
  font-size: 24px;
}

.initial label span {
  width: 25px;
  height: 2px;
  display: block;
  background: #FF9401;
  border-radius: 0.5px;
  margin-right: 5px;
}

.initial p {
  margin-top: 20px;
  margin-bottom: 45px;
  line-height: 160%;
  color: #3F3232;
  font-size: 20px;
}

.initial__text,
.initial__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-right: 20px;
}

h1 span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.initial__title-1 {
  margin-bottom: 7px;
}

.initial__social-networks {
  margin-top: 60px;
}

@media (max-width: 1920px) {
  .content {
    padding-left: calc(15px + 15 * ((100vw - 320px) / 1920));
  }

  .content {
    padding-right: calc(15px + 15 * ((100vw - 320px) / 1920));
  }

  .cart {
    margin-left: calc(10px + 50 * ((100vw - 320px) / 1920));
  }

  .cart {
    margin-right: calc(10px + 50 * ((100vw - 320px) / 1920));
  }

  .header__main-img {
    width: calc(90px + 60 * ((100vw - 320px) / 1920));
  }

  .header__logo {
    width: calc(80px + 30 * ((100vw - 320px) / 1920));
  }

  h1,
  h1 span {
    font-size: calc(45px + 51 * ((100vw - 320px) / 1920));
  }

  .initial {
    padding-top: calc(120px + 90 * ((100vw - 320px) / 1920));
  }

  .initial label {
    font-size: calc(14px + 10 * ((100vw - 320px) / 1920));
  }

  .initial p {
    margin-bottom: calc(20px + 25 * ((100vw - 320px) / 1920));
  }

  .initial__social-networks {
    margin-top: calc(20px + 40 * ((100vw - 320px) / 1920));
  }
}

@media (max-width: 767px) {
  .initial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .initial p {
    text-align: center;
  }

  .initial__text,
  .initial__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-right: 0px;
  }

  .initial__title-2 {
    display: none;
  }

  .initial__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .nav-m {
    display: none;
  }

  .btn {
    padding: 12px 24px;
    font-size: 16px;
  }

  h1 img {
    width: 45px;
  }

  .initial label {
    margin-bottom: 10px;
  }

  .initial label span {
    width: 16px;
  }
}